body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #5f2c82,#49a09d);
    font-family: Arial, sans-serif;
}

h1,
h2 {
    text-align: center;
}

form {
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin: 50px auto;
    width: 50%;
}

form div {
    text-align: center;
    margin-bottom: 10px;
}

form label {
    display: inline-block;
    text-align: right;
    width: 40%;
}

form input[type="text"],
form input[type="number"] {
    display: inline-block;
    width: 40%;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
}

a {
    display: block;
    text-align: center;
    font-weight: bold;
}